<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <a href="/MataPelajaran/add">Add Mata Pelajaran</a><%-include('../Partials/logOut') %>
    <% if(isLogin){ %>
    <a href='/dashboardMahasiswa/<%=dataMahasiswa %>'>Kembali ke Dashboard</a>
    <% } %>

    <table>
        <tr>
            <th>No.</th>
            <th>Jurusan</th>
            <th>Mata Pelajaran</th>
            <th>Credit</th>
        </tr>
        <% for(let i = 0;i<mataPelajaran.length;i++){ %>
        <tr>
            <td><%=i+1 %></td>
            <td><%=mataPelajaran[i].Jurusan.function() %></td>
            <td><%=mataPelajaran[i].name %></td>
            <td><%=mataPelajaran[i].credit %></td>
        </tr>
        <% } %>
    </table>

</body>

</html>